/target/*
/gradle/*
.gradle/*
/.idea/*
/build/*
build/*
/.gradle/*
/history/*
history/

# Class compiled
*.class
.*class

# Logs
*.log

# Files
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Report serenity
target/

# Gradle
.gradle/
build/
.gradle
CoreProductionFile/.gradle/5.2.1/executionHistory/executionHistory.bin
*.bin
*.lock

# No ignored Gradle Wrapper
!gradle\wrapper\gradle-wrapper.jar

# Files
.classpath
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.idea/
out/

# Locally stored "Eclipse launch configurations"
*.launch

### Sonar ###
#Sonar generated dir
.sonar/